In [5]:
import pandas as pd
import numpy as np
import os
from sklearn import svm

In [4]:
# Chargement et normalisation des données
df = pd.read_pickle('data/data.pkl')
data = df[['h2s', 'pressure', 'temperature', 'humidity', 'so2']]
df[['h2s', 'pressure', 'temperature', 'humidity', 'so2']] =  data.apply(pd.to_numeric, errors="coerce").apply(lambda x: (x - np.mean(x)) / (np.std(x)))
print(len(df))
df = df[pd.notnull(df).all(axis=1)] # On ne garde que les données sans NaN etc..
df.head()

19445

,date,h2s,pressure,temperature,humidity,n_points,so2,h2s_ref,captor
4,2016-05-23 09:15:00,1.673433,0.047316,0.996046,-1.610853,15,-0.259294,0,1303
9,2016-05-23 10:30:00,1.530588,0.202130,0.996046,-1.677224,15,-0.259294,0,1303
20,2016-05-23 13:15:00,1.637722,0.356944,0.996046,-1.809965,15,-0.259294,0,1303
25,2016-05-23 14:30:00,1.655577,0.356944,0.996046,-1.809965,15,-0.259294,0.1,1303
31,2016-05-23 16:00:00,1.566299,0.356944,0.996046,-1.876336,15,-0.259294,0,1303

In [35]:
# Permutation et séparation en jeux de données d'apprentissage
df = df.reindex(np.random.permutation(df.index))
df.head()

def split_dataframe(dataframe, percent):
    nb_rows = int(np.floor(percent * len(dataframe)))
    print(nb_rows, len(dataframe))
    return dataframe[:nb_rows], dataframe[nb_rows:]

df_train, df_test = split_dataframe(df, 0.5) 
df_valid, df_test = split_dataframe(df_test, 0.5)

def dataframe_to_xy(df):
    return np.array(df[['h2s', 'pressure', 'temperature', 'humidity', 'so2']]), np.array(df['h2s'])

X_train, y_train = dataframe_to_xy(df_train)
X_valid, y_valid = dataframe_to_xy(df_valid)
X_test, y_test = dataframe_to_xy(df_test)


clf = svm.SVR()
clf.fit(X_train, y_train) 
clf.score(X_train, y_train)
clf.get_params()

4338 8676
2169 4338

{'C': 1.0,
 'cache_size': 200,
 'coef0': 0.0,
 'degree': 3,
 'epsilon': 0.1,
 'gamma': 'auto',
 'kernel': 'rbf',
 'max_iter': -1,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [ ]:
C_grid = np.logspace(-2, 3, 10)
eps_grid = np.logspace(-5, 2, 10)


scores = np.empty((len(C_grid), len(eps_grid)))
print(scores.shape)
for i in range(len(C_grid)):
    for j in range(len(eps_grid)):
        clf = svm.SVR(C=C_grid[i], gamma=eps_grid[j])
        clf.fit(X_train, y_train) 
        score = clf.score(X_valid, y_valid)
        print(score)
        scores[i, j] = score

In [45]:
np.max(scores)

3.9847212135837532e+252